/* body */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* btn style */
.ms_btn-hoverable{
    padding: 2px;
    border: 1px solid transparent;
}

.ms_btn-hoverable-2{
    padding: 2px;
    border: 1px solid transparent;
}

.ms_btn-hoverable:hover{
    border: 1px solid #222;
}

.ms_btn-hoverable-2:hover{
    border: 1px solid #fff;
}

/* header */
.ms_header-top-logo{
    width: 5em;
}

.ms_nav{
    padding: 0;
}

.ms_nav-font{
    font-size: 0.8rem;
}

.dropdown-toggle::after{
    display: none;
}

.ms_chevron-down{
    width: 10px;
}

.ms_dropdown-img{
    mix-blend-mode: multiply;
    width: 80%;
}

.ms_dropdown-a{
    text-decoration: none;
    color:#222
}

.ms_dropdown-a:hover{
    text-decoration: underline;
}
/* buy */
#buy-ete, #buy-itt{
    height:800px;
    max-height: 800px;
    padding-bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
}

#buy-ete{
    background-image: url(img/jumbo-bg.png);
    background-position: center;
}

#buy-itt{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
}

/* thumbnails */
.ms_thumb-radius{
    border-radius: 10px;
}

/* overview btn */
.ms_over-btm{
    border: none ;
}

.ms_over-btm:hover{
    border-bottom: 1px solid #0C6EFE;
}

.ms_over-bimg{
    filter: opacity(0.5);
}

.ms_over-bimg:hover{
    filter:opacity(1);
}

/* new */
.ms_new-img{
    border-radius: 15px;
}

/* explore */
#explore-plus, #explore-now{
    width: 100%;
    height: 400px;
    min-height: 400px;
}

#explore-plus{
    background-color: #BEBCBB;
}

#explore-now{
    background-color: #161C3B;
}

/* footer */
footer{
    background-color: #01439C;
}

.ms_foo-span{
    font-size: 0.8em;
}

.ms_foo-list{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
    color: #fff;
}


/* ms query */
@media screen and (min-width:768px) {
    #explore-plus, #explore-now{
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
    }

    #explore-plus{
        background-image: url(img/ps-plus-april-monthly-games-featured-image-block.png);
    }

    #explore-now{
        background-image: url(img/ps-now-april-featured-image-block.png);
    }
}